<!--
  ~ Copyright (c) 2017-2019 Landoop LTD
  -->

<configuration scan="true" scanPeriod="30 seconds" debug="false">

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} %-5p [%c{2}:%L] [%thread] %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
                <marker>metric</marker>
            </evaluator>
            <onMismatch>NEUTRAL</onMismatch>
            <OnMatch>DENY</OnMatch>
        </filter>
    </appender>

    <root level="INFO">
        <appender-ref ref="stdout"/>
    </root>

</configuration>
